[Desktop Entry]
Name=${project.name}
Comment=${project.description}
Exec=/bin/sh "${project.exepath}"
Icon=${project.icon}
Categories=AudioVideo;Java;
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
MimeType=text/girr
