*.la
.javah_done
.libs
.mvn_compiled
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
gnu_io_*.h
install-sh
lib
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
mkinstalldirs
*-*-linux-gnu/
stamp-h1

