# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven + Upload

on:
  push:
    branches: [ master ]
#  pull_request:
#    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
    - name: Build IrpTransmogrifier
      run: ./common/scripts/build-harctoolbox-project.sh IrpTransmogrifier
    - name: Build Girr
      run: ./common/scripts/build-harctoolbox-project.sh Girr
    - name: Build Jirc
      run: ./common/scripts/build-harctoolbox-project.sh Jirc
    - name: Build RemoteLocator
      run: ./common/scripts/build-harctoolbox-project.sh RemoteLocator
    - name: Build HarcHardware
      run: ./common/scripts/build-harctoolbox-project.sh HarcHardware
    - name: Build Tonto
      run: ./common/scripts/build-tonto.sh -n
    - name: Get JDK/Linux
      run: |
        sudo apt-get install -y xsltproc
        ./tools/get-jdk.sh linux
    - name: Get JDK/MacOS
      run: wget --quiet http://www.harctoolbox.org/downloads/jre-x64-macOS.tar.gz
    - name: Build with Maven
      run: |
        sudo apt-get install -y dos2unix icoutils genisoimage fuse
        mvn -B -V install -Dmaven.test.skip=true -Dmaven.javadoc.skip=true package

#  fetch-jre-x86-windows:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#    - name: suck
#      run: wget --quiet http://www.harctoolbox.org/downloads/jre-x86-windows.zip
#    - name: unpack
#      run: ( cd target; unzip ../jre-x86-windows.zip )
#    - name: download-inno
#     run: wget --quiet https://jrsoftware.org/download.php/is.exe

#  setup-exe:
#    needs: fetch-jre-x86-windows
#    runs-on: windows-latest
#    steps:
#     - name: install-inno
#       run: is /verysilent
#     - name: run-inno
#      run: |
#         cd target
#         C:\Program Files\Inno Setup 6\ISCC /Q IrScrutinizer_inno.iss

#  upload:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
    - name: List files
      run: ls -l target
    - name: Upload
      env:
          GITHUB_TOKEN: ${{ secrets.CI_UPLOADER }}
      run: common/scripts/upload.sh target/*bin.zip target/*.dmg target/*AppImage
